
<div id = 'major_articles'>
    <% @articles.each do |article| %>
      <% if article.rank == 1%>
      <div class = 'article'>
        <div class = 'article_title'><%= article.title %></div>
        <div class = 'article_date'> Septemper 15, 2013 </div>
        <div class = 'article_author'> By <%= Author.find(article.author_id).name %> </div>
        <div class = 'article_topic'><%= article.topic %></div>
        <%= article.content %>
      </div>
      </br>
      <% end %>
    <% end %>
</div>

<div id = 'minor_articles'> 
    <% @articles.each do |article| %>
      <% if article.rank == 2%>
      <div class = 'article'>
        <div class = 'article_title'><%= article.title %></div>
        <div class = 'article_date'> Septemper 15, 2013 </div>
        <div class = 'article_author'> By <%= Author.find(article.author_id).name %> </div>
        <div class = 'article_topic'><%= article.topic %></div>
        <%= article.content %>
      </div>
      </br>
      <% end %>
    <% end %>
</div>




