<%= form_for(@article) do |f| %>
    <%= render "shared/error_messages", :target => @article %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_id %><%= mark_required(@article, :author_id) %><br>
    <%= f.collection_select(:author_id, Author.all, :id, :name, {include_blank: true})%>
  </div>
  <div class="field">
    <%= f.label :topic %><%= mark_required(@article, :topic) %><br>
    <%= f.select(:topic, [['politics', 'politics'],['coding', 'coding'],['science', 'science'],['stories', 'stories'],['music', 'music'],['books', 'books']])%>
  </div>
  <div class="field">
    <%= f.label :content %><%= mark_required(@article, :content) %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :rank %><%= mark_required(@article, :rank) %><br>
    <%= f.select(:rank, [['Major', 1],['Minor', 2]])%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
