<!DOCTYPE html>
<html>
<head>
  <title>TwentiesTimes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id = 'container'>
        <div id = 'header'> 
            <div id = 'title'><%= link_to :root do %><font color='#00688B'>twenties</font>times<% end %></div>
            <div id = 'tagline'><font color="#BBB">news feed for a twenty-something.</font></div>
            
            <ul id = 'navigation'> 
                    <% if params[:controller] == 'articles' %>
                    <li id = 'about_nav'> <%= link_to 'Back', :back %> <li>
                    <% else %>
                    <li id = 'topic_nav'> topics
                        <ul>
                            <li>  <%= link_to 'science', {:controller => 'static_pages', :action => 'science'} %> </li>
                            <li>  <%= link_to 'art', {:controller => 'static_pages', :action => 'art'} %> </li>
                            <li>  <%= link_to 'politics', {:controller => 'static_pages', :action => 'politics'} %> </li>
                            <li>  <%= link_to 'coding', {:controller => 'static_pages', :action => 'coding'} %> </li>
                            <li>  <%= link_to 'books', {:controller => 'static_pages', :action => 'books'} %> </li>
                            <li>  <%= link_to 'stories', {:controller => 'static_pages', :action => 'stories'} %> </li>
                            <li>  <%= link_to 'music', {:controller => 'static_pages', :action => 'music'} %> </li>
                        </ul>
                    </li>
                    <li id = 'writers_nav'> writers 
                        <ul>
                            <% @authors.each do |author| %>
                                <%= link_to(author) do %>
                                    <li><%= author.name %></li>
                                <% end %>    
                            <% end %>
                        </ul>
                    </li>
                    <li id = 'about_nav'> about us </li>
                    <li id = 'contact_nav'> contact </li>
                    <% end %>
                </ul>
            
            <div id = 'icons'>
                <img src="http://www.candygramformongo.com/_img/home/facebook-icon.gif" height = '25px' width = '25px'></img>
                <img src="http://www.ala.org/conferencesevents/sites/ala.org.conferencesevents/files/content/celebrationweeks/natlibraryweek/twitter-icon.png" height = '25px' width = '25px'></img>
            </div>
        
        </div>

        <div id = 'content_container'>
            <%= yield %>
        </div>

        <div id = 'footer'>
            <ul>
                <li>Volunteer as a Contributer!</li>
                <li>@2013 20sTimes</li>
            </ul>
        </div>
    </div>
</body>
</html>
