<!DOCTYPE html>
<html>
<head>
  <title>TwentiesTimes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id = 'container'>
        <div id = 'header'> 
            <div id = 'title'><font color="#00688B">twenties</font>times</div>
            <div id = 'tagline'><font color="#BBB">news feed for a twenty-something.</font></div>
            
            <ul id = 'navigation'> 
                    <li id = 'topic_nav'> topics
                        <ul>
                            <li id = 'topic_politics_nav'> politics </li>
                            <li id = 'topic_coding_nav'> coding </li>
                            <li id = 'topic_books_nav'> books </li>
                            <li id = 'topic_stories_nav'> stories </li>
                            <li id = 'topic_music_nav'> music </li>
                            <li id = 'topic_science_nav'> science </li>
                        </ul>
                    </li>
                    <li id = 'writers_nav'> writers 
                        <ul>
                             <% @authors.each do |author| %>
                            <li id = "<%= author.name.gsub(' ','') %>"> <%= author.name %> </li>
                            <% end %>
                        </ul>
                    </li>
                    <li id = 'about_nav'> about us </li>
                    <li id = 'contact_nav'> contact </li>
                </ul>
            
            <div id = 'icons'>
                <img src="http://www.candygramformongo.com/_img/home/facebook-icon.gif" height = '25px' width = '25px'></img>
                <img src="http://www.ala.org/conferencesevents/sites/ala.org.conferencesevents/files/content/celebrationweeks/natlibraryweek/twitter-icon.png" height = '25px' width = '25px'></img>
            </div>
        
        </div>

        <div id = 'content_container'>
            <%= yield %>
        </div>

        <div id = 'footer'>
            <ul>
                <li>Volunteer as a Contributer</li>
                <li>@2013 20sTimes</li>
            </ul>
        </div>
    </div>
</body>
</html>
